@charset "UTF-8";
/* --- Variables --- */
/* --- Mixins --- */
/* --- Definitions --- */
html, body {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  font-size: 14px;
  font-family: 'Circular', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6; }

* {
  outline: 0px; }

#root {
  height: 100vh;
  width: 100vw; }

.button, button {
  cursor: pointer;
  font-size: 16px;
  background-color: #1c2d41;
  color: #ffffff;
  border: 0px;
  padding: 12px 50px;
  border-radius: 10px; }
  .button:hover, button:hover {
    background-color: #14212f; }
    .button:hover:active, button:hover:active {
      background-color: #0d141d; }
  .button.clear, button.clear {
    background-color: transparent;
    color: #909090; }
    .button.clear:hover, button.clear:hover {
      color: #5d5d5d; }
    .button.clear:active, button.clear:active {
      background-color: transparent; }
  .button.bordered, button.bordered {
    border: 2px solid #1c2d41;
    background-color: #ffffff;
    color: #14212f;
    padding: 10px 50px; }
    .button.bordered:hover, button.bordered:hover {
      background-color: #f2f2f2; }
      .button.bordered:hover:active, button.bordered:hover:active {
        background-color: #e6e6e6; }
  .button.long, button.long {
    min-width: 220px; }
  .button.bar, button.bar {
    width: 100%; }
  .button.small, button.small {
    font-size: 13px;
    padding: 8px 25px; }
  .button.alt, button.alt {
    background-color: #37e3c4;
    color: #1c2d41; }
    .button.alt:hover, button.alt:hover {
      background-color: #21e0bd; }
      .button.alt:hover:active, button.alt:hover:active {
        background-color: #1ccbab; }
  .button.sparse, button.sparse {
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase; }

/* --- Login page, Reset Password, Forgot Password --- */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%; }

.header-wrap {
  text-align: center; }
  .header-wrap h1 {
    font-size: 54px;
    margin-bottom: 22px; }
  .header-wrap h6 {
    font-size: 16px;
    font-weight: 100; }

.login-form {
  width: 400px;
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 20px 37px 0 rgba(140, 140, 140, 0.2);
  background-color: #ffffff;
  border: solid 1px rgba(155, 155, 155, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; }
  .login-form .form__header {
    font-size: 14px;
    color: #1c2d41;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .login-form .form__input-wrap {
    padding: 0px 30px;
    width: 100%; }
    .login-form .form__input-wrap.forgot {
      height: auto; }
    .login-form .form__input-wrap.reset {
      margin-bottom: 10px; }
  .login-form .form__input {
    font-family: inherit;
    border-radius: 4px;
    background-color: #f5f6fa;
    border: solid 1px #979797;
    padding: 15px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 30px; }
  .login-form .form__fpw {
    text-decoration: underline;
    font-size: 13px;
    color: #000;
    text-transform: capitalize; }
  .login-form .form__btn {
    font-family: inherit;
    background-color: #1c2d41;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
    border: 0;
    font-size: 15px;
    padding: 12px 40px; }
    .login-form .form__btn:hover {
      background-color: #14212f; }
      .login-form .form__btn:hover:active {
        background-color: #0d141d; }
  .login-form .form__subheader {
    opacity: 0.59;
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 30px; }
    .login-form .form__subheader.reset {
      text-align: center; }

/* --- Forgot password page --- */
nav {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(153, 160, 169, 0.29);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  font-size: 18px; }
  nav hr {
    opacity: 0.17;
    border: solid 1px #979797; }
  nav .navigation__link {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #4a4a4a;
    text-decoration: none;
    height: 50px;
    transition: .2s all ease-in-out; }
    nav .navigation__link:hover {
      color: #50e3c2; }
    nav .navigation__link.active {
      background-color: #1c2d41;
      color: #fff; }
    nav .navigation__link .navigation__link-icon {
      margin-right: 20px; }
    nav .navigation__link .navigation__link-text {
      width: 55%; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
  header .header__logo {
    font-size: 32px;
    font-weight: bold;
    color: #000; }
  header .btn-signout {
    font-size: 14px;
    letter-spacing: 0.9px;
    color: #000;
    height: 50px;
    border-radius: 8px;
    border: 0;
    background-color: #f6f6f6;
    cursor: pointer; }
    header .btn-signout:hover {
      background-color: #e9e9e9; }
      header .btn-signout:hover:active {
        background-color: #dddddd; }

div.navigation {
  position: fixed;
  width: 15%; }

.create-test-link {
  text-decoration: none;
  color: #1c2d41; }

.course-home-icon {
  font-size: 16px; }
  .course-home-icon a {
    text-decoration: none;
    color: #1c2d41; }

.back-arrow {
  background-color: #999;
  color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-top: 8px;
  font-size: 10px;
  margin-left: -40px;
  margin-right: 10px; }

section.create-test {
  padding-left: 40px; }
  section.create-test h1.heading {
    display: inline-block;
    vertical-align: middle; }
  section.create-test .top-action {
    margin-top: 10px;
    padding: 20px 30px;
    border-radius: 5px;
    background: linear-gradient(60deg, #193c4a 0%, #37e3c4 100%);
    max-width: 400px;
    width: 70%; }
    section.create-test .top-action .title {
      color: #ffffff;
      margin-bottom: 5px; }
    section.create-test .top-action .subtitle {
      font-weight: bold;
      color: #ffffff; }
  section.create-test .right-action {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
    section.create-test .right-action span {
      color: #909090;
      padding: 20px; }
  section.create-test .test-list .tbody {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(40, 40, 40, 0.15); }
    section.create-test .test-list .tbody li {
      padding: 10px 20px; }
    section.create-test .test-list .tbody ul {
      border-bottom: 1px solid #dddddd;
      margin: 0px;
      padding: 0px 20px; }
      section.create-test .test-list .tbody ul:first-child {
        border-radius: 5px 5px 0px 0px; }
      section.create-test .test-list .tbody ul:last-child {
        border-radius: 0px 0px 5px 5px;
        border: 0px; }
      section.create-test .test-list .tbody ul:hover {
        background-color: #f6f6f6; }
  section.create-test .test-list .thead {
    margin: 0px;
    color: #909090;
    padding: 0px 20px; }
    section.create-test .test-list .thead li {
      padding: 5px 20px; }

/* Test questions definition  */
section.test-questions {
  padding-left: 40px; }
  section.test-questions h1.heading {
    display: inline-block;
    vertical-align: middle; }
  section.test-questions .top-action {
    margin-top: 10px; }
    section.test-questions .top-action button {
      float: right; }
  section.test-questions .question-pane {
    margin-top: 20px;
    width: 100%; }
    section.test-questions .question-pane .question {
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      margin-top: 40px; }
      section.test-questions .question-pane .question .details {
        width: calc(100% - 50px);
        margin-left: 20px; }
        section.test-questions .question-pane .question .details .action-pane {
          display: flex; }
          section.test-questions .question-pane .question .details .action-pane .title {
            width: 20%;
            font-size: 16px;
            font-weight: bold;
            color: #909090;
            padding-top: 2px; }
          section.test-questions .question-pane .question .details .action-pane .actions {
            width: 80%;
            text-align: right; }
            section.test-questions .question-pane .question .details .action-pane .actions .info-btn {
              background-color: #999;
              color: #ffffff;
              height: 30px;
              width: 30px;
              border-radius: 15px;
              display: inline-block;
              vertical-align: middle;
              text-align: center;
              padding-top: 8px;
              font-size: 10px;
              margin-left: 20px; }
        section.test-questions .question-pane .question .details .question-box {
          padding: 20px;
          border: 1px solid #999;
          margin-top: 10px;
          border-radius: 10px; }
    section.test-questions .question-pane .number {
      background-color: #2a2a2a;
      text-align: center;
      padding-top: 5px;
      border-radius: 15px;
      width: 30px;
      height: 30px;
      color: #ffffff; }
      section.test-questions .question-pane .number.bordered {
        border: 1px solid #1c2d41;
        background-color: transparent;
        color: #1c2d41;
        font-weight: bold; }
    section.test-questions .question-pane .option-heading {
      padding-left: 50px; }
      section.test-questions .question-pane .option-heading ul li {
        font-weight: bold;
        color: #909090; }
    section.test-questions .question-pane .options {
      display: flex;
      margin-top: 15px; }
      section.test-questions .question-pane .options .option-pane {
        width: calc(100% - 50px);
        margin-left: 20px; }
        section.test-questions .question-pane .options .option-pane .option-box, section.test-questions .question-pane .options .option-pane .info-box {
          background-color: #ffffff;
          padding: 15px 20px;
          border-radius: 8px;
          box-shadow: 0px 2px 4px rgba(40, 40, 40, 0.1);
          color: #243953; }
        section.test-questions .question-pane .options .option-pane ul li {
          padding-right: 0px; }
        section.test-questions .question-pane .options .option-pane ul {
          margin-right: 0px; }
  section.test-questions .answer-pane {
    border-bottom: 1px solid #dddddd;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    section.test-questions .answer-pane .title {
      font-weight: bold;
      font-size: 18px;
      margin-right: 10px; }
    section.test-questions .answer-pane button {
      margin-left: 10px; }

.question-nav {
  float: right;
  margin-top: 40px; }
  .question-nav span {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    display: block; }
  .question-nav div {
    float: right;
    background-color: #ffffff;
    width: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(153, 160, 169, 0.29); }
    .question-nav div ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px; }
      .question-nav div ul li {
        height: 24px;
        width: 24px;
        background-color: #f6f6f6;
        border-radius: 12px;
        margin: 4px 0px;
        text-align: center;
        padding-top: 3px;
        cursor: pointer; }
        .question-nav div ul li:hover {
          background-color: #e9e9e9; }
        .question-nav div ul li.active {
          background-color: #1c2d41;
          color: #ffffff;
          cursor: default; }

/*  Flashcards definition */
section.flashcards .card-holder {
  padding-bottom: 50px;
  border-bottom: 1px solid #dddddd; }
  section.flashcards .card-holder li {
    padding-right: 0px; }
section.flashcards .card svg {
  color: #37e3c4;
  font-size: 28px; }
section.flashcards .card .content {
  display: inline-block;
  width: calc(100% - 40px);
  padding-left: 30px;
  vertical-align: top; }
  section.flashcards .card .content p {
    margin-top: 15px;
    font-size: 13px; }
  section.flashcards .card .content h2 {
    font-size: 30px;
    line-height: 0.8; }
section.flashcards .courses {
  padding-top: 50px;
  padding-left: 20px; }
  section.flashcards .courses ul.grid {
    margin-left: -60px; }
  section.flashcards .courses li {
    padding-right: 0px;
    display: flex;
    align-items: center;
    flex-direction: column; }
  section.flashcards .courses li .ball {
    height: 120px;
    width: 120px;
    background-color: #1c2d41;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; }
    section.flashcards .courses li .ball svg {
      font-size: 60px; }
  section.flashcards .courses h2.title {
    font-size: 16px;
    text-align: center;
    margin-top: 10px; }

/* --- globals --- */
.hr {
  margin: 10px; }

.no-decoration {
  text-decoration: none;
  color: inherit; }

.card-button button {
  width: 100%;
  padding: 0px; }

.sparse {
  letter-spacing: 3px; }

.card {
  background-color: #ffffff;
  box-shadow: 0px 20px 25px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  padding: 30px; }

ul.grid {
  clear: both;
  box-sizing: content-box;
  margin: auto -40px;
  list-style: none;
  padding-left: 0px; }

ul.grid::after {
  visibility: hidden;
  display: block;
  content: " ";
  height: 0;
  font-size: 0;
  clear: both; }

ul.grid > li {
  float: left;
  padding: 0px 40px; }

ul.grid.grid-2 > li {
  width: 50%; }

ul.grid.grid-3 > li {
  width: 33.3333%; }

ul.grid.grid-4 > li {
  width: 25%; }

ul.grid.grid-5 > li {
  width: 20%; }

ul.grid.separator > li {
  border-left: 1px solid #e6e6e6; }

ul.grid.separator > li:first-child {
  border-left: 0px; }

/*# sourceMappingURL=main.css.map */
